body {
    background-color: black;
}

h1 {
    text-align: center;
    font-size: 60px;
}

div {
    margin:auto;
    width: 50%;
    border: 3px solid rgb(47, 144, 135);
    padding: 10px;
    color: white;
    font-family:'Arial',sans-serif;
    font-size: 40px;
}

.lnk {
    text-align: center;
    font-size: 25px;
}

a:visited {
    color: rgb(157, 59, 255);
}